<html>
    <head> 
    <title> USB Peripheral Control Device - Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body> 
    <header>
        <h1 class="logo">
	    <img src="{{ url_for('static', filename='header.png') }}">
	    </h1>
    </header>
    <h1>
		USB Peripheral Control Device
		<br> Add New GPIO Peripheral
	</h1>
    <div class="container">
	<div class="canvas"> <h2>
		
 
		
		
	</div> </div> 
    
      <footer>
		  &copy Copyright 2013 by Ankit Singh, Anmol Sarma, Nishant 
		  Sharma, Prateek Anand and Sudesh Kumar
      </footer>
    </body> 
</html>
