<html>
    <head> 
    <title> USB Peripheral Control Device - Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body> 
    <header>
        <h1 class="logo">
	    <img src="{{ url_for('static', filename='header.png') }}">
	    </h1>
    </header>
    <h1>
		USB Peripheral Control Device
		<br> Web Interface
	</h1>
    <div class="container">
	<div class="canvas"> <h2>
		
 <div style="float: left; margin-left:10px;">
	 <p> GPIO Peripherals </p>
	 <p>
		 <form method="post" action="/">
			 
			 <select name="ioperipheral" id="perip">
				<option value="0"># 0</option>
				<option value="1"># 1</option>
				<option value="2"># 2</option>
			</select>
			 
			 <select name="ioport" id="prt">
				<option value="1">Port A</option>
				<option value="2">Port B</option>
				<option value="3">Port C</option>
				<option value="4">Port D</option>
				<option value="5">Port E</option>
				<option value="6">Port F</option>
			</select>
			
			<select name="iopin" id="pn">
				<option value="0">Pin 0</option>
				<option value="1">Pin 1</option>
				<option value="2">Pin 2</option>
				<option value="3">Pin 3</option>
				<option value="4">Pin 4</option>
				<option value="5">Pin 5</option>
				<option value="6">Pin 6</option>
				<option value="7">Pin 7</option>
			</select>
			
			<select name="imode" id="md">
				<option value="1">Out</option>
				<option value="0">In</option>
			</select>
			
			<button type="submit" name="submit" value="addio">Add I/O</button>
	 </p>
		 
	 {% for peripheral in ioList %}
	 <p> {{ peripheral }} 
	 <a href="{{ peripheral }}/on">ON</a> 
	 <a href="{{ peripheral }}/off">OFF</a>
	 <a href="{{ peripheral }}/removeio">Remove</a></p>
	 {% endfor %}
 </div>
 
 <div style="float: right; margin-right:10px;">
	 <p> ADC Peripherals</p>
	 {% for peripheral in descList[1] %}
	 <p> {{ peripheral }}  1024 <a href="read">Read</a> <a href="removeadc">Remove</a></p>
	 {% endfor %}
	 <button type="submit" name="submit" value="addadc">Add ADC</button>
	 <br>
	 <p> PWM Peripherals</p>
	 {% for peripheral in descList[1] %}
	 <p> {{ peripheral }}  1024 <a href="edit">Edit</a> <a href="removepwm">Remove</a></p>
	 {% endfor %}
 </div>
 
 <br style="clear: both" />

		
		
		 </div> </div> 
    
      <footer>
		  &copy Copyright 2013 by Ankit Singh, Anmol Sarma, Nishant 
		  Sharma, Prateek Anand and Sudesh Kumar
      </footer>
    </body> 
</html>
